@import "tailwindcss";

@keyframes border-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-border-spin {
  animation: border-spin 2.5s linear infinite;
}